.search {
  display: inline-flex;
  width: 40%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &_error {
    border: 1px solid red;
  }

  &__input {
    all: unset;
    background-color: white;
    width: 100%;
    height: 3rem;
    border: none;
    font-size: 2rem;
    padding: 1rem 2rem;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    border: none;
    background-color: rgb(0, 108, 158);
    cursor: pointer;
  }

  &__icon {
    width: 4rem;
  }

  &__error-message {
    margin: 0;
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: red;
  }
}

@media (max-width: 1150px) {
  .search {
    width: 100%;
  }
}
